# Add any directories, files, or patterns you don't want to be tracked by version control
###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
[Bb]uild/
[Bb]uilds/

# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Builds/

# Visual Studio 2015 cache directory
/.vs/

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta

# Builds
*.apk
/Screenshots
/Release

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser
Assets/ShaderoSprite/
Assets/2DxFX/
Library/ArtifactDB
Library/Artifacts/07/079308d7991d0de7ecccf6c6c33b350f
Library/Artifacts/14/14ba1c218ddac11c25a7780c493e5b93
Library/Artifacts/2e/2edd2f5c94552f65ce523efe0330ec0c
Library/Artifacts/92/9207be97353f23823a0640cc771f9903
Library/Artifacts/92/92e188e79c34dd52ad92885b51094e14
Library/Artifacts/cd/cdfa3b8c37c853b2076a3b1f309fcc68
Library/Artifacts/de/de84163bfd1196e8b3418dfcac2e784b
Library/Artifacts/e3/e3184b9937b919d02da56a8bee805e7f
Library/Artifacts/e5/e5de11b662dc4be7af10dc87c7638c86
Library/Artifacts/f2/f298d2b79909d1b0ffb60086e5c444bb
Library/CurrentLayout-default.dwlt
Library/EditorUserBuildSettings.asset
Library/expandedItems
Library/InspectorExpandedItems.asset
Library/LastBuild.buildreport
Library/SceneVisibilityState.asset
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/PsdPlugin.dll
Library/ScriptAssemblies/Unity.2D.Animation.Editor.dll
Library/ScriptAssemblies/Unity.2D.Animation.Runtime.dll
Library/ScriptAssemblies/Unity.2D.Animation.Triangle.Runtime.dll
Library/ScriptAssemblies/Unity.2D.Common.Editor.dll
Library/ScriptAssemblies/Unity.2D.Common.Runtime.dll
Library/ScriptAssemblies/Unity.2D.Path.Editor.dll
Library/ScriptAssemblies/Unity.2D.PixelPerfect.dll
Library/ScriptAssemblies/Unity.2D.PixelPerfect.Editor.dll
Library/ScriptAssemblies/Unity.2D.Psdimporter.Editor.dll
Library/ScriptAssemblies/Unity.2D.Sprite.Editor.dll
Library/ScriptAssemblies/Unity.2D.SpriteShape.Editor.dll
Library/ScriptAssemblies/Unity.2D.SpriteShape.Runtime.dll
Library/ScriptAssemblies/Unity.2D.Tilemap.Editor.dll
Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Library/ScriptAssemblies/Unity.InternalAPIEditorBridge.001.dll
Library/ScriptAssemblies/Unity.InternalAPIEngineBridge.001.dll
Library/ScriptAssemblies/Unity.Mathematics.dll
Library/ScriptAssemblies/Unity.Mathematics.Editor.dll
Library/ScriptAssemblies/Unity.Rider.Editor.dll
Library/ScriptAssemblies/Unity.TextMeshPro.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Library/ScriptAssemblies/Unity.Timeline.dll
Library/ScriptAssemblies/Unity.Timeline.Editor.dll
Library/ScriptAssemblies/Unity.VSCode.Editor.dll
Library/ScriptAssemblies/UnityEditor.TestRunner.dll
Library/ScriptAssemblies/UnityEditor.UI.dll
Library/ScriptAssemblies/UnityEngine.TestRunner.dll
Library/ScriptAssemblies/UnityEngine.UI.dll
Library/ScriptMapper
Library/ShaderCache/EditorEncounteredVariants
Library/shadercompiler-UnityShaderCompiler.exe1.log
Library/shadercompiler-UnityShaderCompiler.exe2.log
Library/shadercompiler-UnityShaderCompiler.exe3.log
Library/shadercompiler-UnityShaderCompiler.exe4.log
Library/shadercompiler-UnityShaderCompiler.exe5.log
Library/shadercompiler-UnityShaderCompiler.exe6.log
Library/shadercompiler-UnityShaderCompiler.exe7.log
Library/SourceAssetDB
Library/SpriteAtlasDatabase.asset
Library/StateCache/SceneView/d14237-mainStage.json
Assembly-CSharp.csproj
.vs/TrueColor/v16/.suo
